**/LoyaltyCard/LoyaltyCardGUI/nbproject/private/private.xml

# Compiled class files
*.class

# Log files
*.log

# Other IDE-specific files
.project
.classpath

# Specific to Java Card or other technologies
.cap
.exp
.jca

build/